 .u-section-1 {
  background-image: url("/images/4f9b1e38bded4a15adf3cd6926f3.jpg");
  background-position: 50% 83.33%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 606px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 383px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 118px;
  }
}