 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(61, 46, 41, 1), rgba(217, 217, 217, 1)), linear-gradient(to bottom, rgba(61, 46, 41, 1), rgba(217, 217, 217, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 564px;
}

.u-section-1 .u-text-1 {
  font-family: Allura;
  margin: 226px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Acme;
  font-size: 1.25rem;
  margin: 35px 0 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
    margin-bottom: 60px;
  }
}