 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #3d2e29, #d9d9d9);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 629px;
}

.u-section-1 .u-form-1 {
  height: 281px;
  width: 570px;
  margin: 60px auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 31px;
    margin-bottom: 2px;
    height: 307px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}