 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #3d2e29, #d9d9d9);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 814px;
}

.u-section-1 .u-form-1 {
  height: 410px;
  width: 570px;
  margin: 277px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
}

.u-section-1 .u-btn-4 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -53px auto 60px 466px;
  padding: 11px 47px 11px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-4 {
    margin-left: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-4 {
    margin-left: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-top: 31px;
    height: 307px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}